.about-section { 
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 12px;
}

.about-container::after {
    position: absolute;
    content: "";
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 3px solid var(--neon-teal);
    border-radius: 15px;
    box-shadow: var(--shadow);
    pointer-events: none;

    animation: rgb 5s linear infinite;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}
.content h2 {
    color: var(--neon-cyan);
    font-family: var(--main);
}

.content p {
    color: var(--text-soft);
    font-family: var(--secondary);
}

/* REVIEW CARDS */
.reviews {
    position: relative;
    width: 50%;
    margin: 100px auto;
    display: flex;
}


.review-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;   
    gap: 25px;
}

.review-card {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: var(--bg-glass);
}

.review-card .user {
    font-size: 2rem;
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.review-card .quote {
    color: var(--text-soft);
    font-family: var(--secondary);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.review-card .buyer {
    color: #fff;
    font-family: var(--secondary);
    font-size: 1rem;
}