body {
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.auth-container {
    position: relative;
    width: 300px;
    padding: 40px 30px;
    background-color: var(--bg-card);
    border-radius: 15px;
}

/* RGB EFFECT */
.auth-container::after {
    position: absolute;
    content: "";
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 3px solid var(--neon-teal);
    border-radius: 15px;
    box-shadow: var(--shadow);
    pointer-events: none;

    animation: rgb 5s linear infinite;
    z-index: -1;
}

.auth-container h1 {
    text-align: center;
    margin-bottom: 18px;
    font-family: var(--main);
    color: var(--neon-cyan);
    text-shadow: var(--glow-text);
}

.auth {
    position: relative;

}

.auth input {
    width: 100%;
    padding: 10px 0;
    font-size: 0.9rem;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--neon-cyan);
    color: var(--neon-teal);
    margin-bottom: 15px;
    outline: none;
}

.auth label {
    position: absolute;
    color: #b9b5b5;
    font-size: 1rem;
    top: 0px;
    left: 1px;
    transform: translateY(50%);
    transition: all 0.3s ease;
}

.auth i {
    position: absolute;
    transform: translate(-100%,100%);
    color: #bebebe;

    user-select: none;
    cursor: pointer;
}

/* LABEL EFFECT */
.auth input:focus + label,
.auth input:valid + label {
    top: -15px;
    font-size: 0.8rem;
    color: var(--neon-cyan);
}

.have a {
    display: block;
    text-align: right;
    color: var(--text-soft);
    font-size: 0.8rem;
    font-family: var(--secondary);
}

.auth-container button {
    width: 100%;
    padding: 7px 5px;
    margin: 7px 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--secondary);
    background: linear-gradient(90deg, #00ffff, #ff00ff);
    border-radius: 5px;

    transition: all 0.3s ease;
}

.choice {
    display: block;
    text-align: center;
    margin: 30px 0;
    color: var(--text-soft);
    font-size: 1rem;
    font-family: var(--secondary);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0f00;
    border-radius: 50%;
    background-color: #fff;
    padding: 12px;

    transition: all .3s ease;
}

/* HOVERS/ EFFECTS MOUSE */
.have a:hover {
    color: var(--neon-teal);
}

.have a:active {
    color: var(--neon-magenta);
}

.auth-container button:hover {
    box-shadow: var(--shadow);
    transform: translateY(-5px);
    text-shadow: var(--glow-text);
}

.icons a:hover {
    background: linear-gradient(90deg,var(--neon-cyan), var(--neon-magenta));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transform: scale(1.2);
}

.sign input:focus {
    box-shadow: var(--shadow);
}

/* SIGN UP FORM  */
.signup-container {
    position: relative;
    width: 350px;
    padding: 40px 30px;
    background-color: var(--bg-card);
    border-radius: 15px;
}

.signup-container::after {
    position: absolute;
    content: "";
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 3px solid var(--neon-teal);
    border-radius: 15px;
    box-shadow: var(--shadow);
    pointer-events: none;

    animation: rgb 5s linear infinite;
    z-index: -1;
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 18px;
    font-family: var(--main);
    color: var(--neon-cyan);
    text-shadow: var(--glow-text);
}

.sign {
    position: relative;
}

.sign input {
    width: 100%;
    padding: 10px 0;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid var(--neon-cyan);
    border-radius: 7px;
    padding-left: 2%;
    color: var(--neon-teal);
    margin-bottom: 15px;
    outline: none;
}

.sign label {
    position: absolute;
    color: #b9b5b5;
    font-size: 1rem;
    top: 0px;
    left: 10px;
    transform: translateY(50%);
    transition: all 0.3s ease;
}

.sign input:focus + label,
.sign input:valid + label {
    opacity: 0;
}

.sign i {
    position: absolute;
    top: 15px;
    color: var(--text-soft);
    padding-right: 25px;
    transform: translateX(-100%);

    user-select: none;
    cursor: pointer;
}

.have a {
    display: block;
    text-align: right;
    color: var(--text-soft);
    font-size: 0.8rem;
    font-family: var(--secondary);
}

.signup-container button {
    width: 100%;
    padding: 7px 5px;
    margin: 7px 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--secondary);
    background: linear-gradient(90deg, #00ffff, #ff00ff);
    border-radius: 5px;

    transition: all 0.3s ease;
}

.signup-container button:hover {
    box-shadow: var(--shadow);
    transform: translateY(-5px);
    text-shadow: var(--glow-text);
}

@keyframes rgb {
    0% { filter: hue-rotate(0deg);}
    100% { filter: hue-rotate(360deg);}
}