/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--main-color);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* --- LOGO --- */
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand img {
    height: 2.5rem;
}

/* --- NAV LINKS --- */
.navlinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navlinks a {
    font-family: var(--font-data);
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.navlinks a:hover {
    color: var(--accent-color);
}

/* --- CONTACT BUTTON --- */
.contact {
    border-radius: 5px;
    background-color: var(--component-color);
    padding: 6px 16px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
/* --- DROPDOWNS --- */
.product, .user {
    position: relative;
}

.product-menu, .auth {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: 4px;
    min-width: 160px;
    padding: 8px 0;
    box-shadow: var(--shadow);
    z-index: 100;
}

.auth {
    left: auto;
    right: 0;
}

.product-menu a, .auth a {
    display: block;
    padding: 10px 20px;
    color: var(--text-color);
    font-size: 0.85rem;
    text-decoration: none;
    font-family: var(--font-data);
}

.product-menu a:hover, .auth a:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

/* Separate Hover Triggers */
.product:hover .product-menu {
    display: block;
}

.user:hover .auth {
    display: block;
}

/* --- RIGHT MENU (Icons) --- */
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a, .menu button {
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: none;
    transition: color 0.2s ease;
}

.menu a:hover, .menu button:hover {
    color: var(--accent-color);
}