:root {
    --main-color: #020617;
    --text-color: #d1fae5;
    --card-color: #1e293b;
    --border: 1px solid #00ffcc;
    --shadow: 0px 0px 20px 1px rgba(2,181,94,0.75);

    --btn-color: #00ffcc;;
    --btn-hover: 0 0 10px #00ffcc;
}


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;

    background: var(--main-color);
    color: var(--text-color);
}

.login-container {
    width: 300px;
    height: 400px;
    padding: 30px;
    background-color: var(--card-color);
    border: var(--border);
    box-shadow: var(--shadow);
}


.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login input {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 15px;
    color: var(--text-color);
    background-color: var(--card-color);

    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.login input::placeholder {
    color: #bebebe;
} 

.login i {
    position: absolute;
    transform: translateX(-100%);
    color: #bebebe;

    user-select: none;
    cursor: pointer;
}

.login-container button {
    width: 100%;
    padding: 7px 0;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: #000;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease;
}

.login-container button:hover {
    box-shadow: var(--btn-hover);
}

.login-container h3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13866f;
    border-radius: 50%;
    background-color: var(--main-color);
    padding: 12px;

    transition: color .3s ease;
}

.icons a:hover {
    color: #00ffcc;
}