body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    height: 400px;
    padding: 30px;
    background-color: var(--bg-secondary);
    box-shadow: var(--glow);
    border-radius: 5px;
}


.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login input {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 15px;
    color: var(--text-color);
    background-color: var(--card-color);

    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.login input::placeholder {
    color: #bebebe;
} 

.login i {
    position: absolute;
    transform: translateX(-100%);
    color: #bebebe;

    user-select: none;
    cursor: pointer;
}

.login-container button {
    width: 100%;
    padding: 7px 0;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    color: #000;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease;
}

.login-container button:hover {
    box-shadow: var(--glow);
}

.login-container h3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent2);
    border-radius: 50%;
    background-color: var(--bg-main);
    padding: 12px;

    transition: color .3s ease;
}

.icons a:hover {
    color: var(--accent);
}