.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 70px;
    font-family: var(--main);
    font-size: 2rem;
    color: var(--neon-teal);
    text-shadow: var(--glow-text);

    animation: rgb 4s linear infinite;
}

.line {
    display: flex; /* This overrides the default 'inline' behavior */
    position: relative;
    inset: 0;
    justify-content: center;
    align-items: center;
    width: 90%; 
    height: 2px;
    background-size: 200% 100%;
    margin: auto;  
    background: linear-gradient(to right,var(--neon-cyan) 0%, var(--neon-cyan) 50%, var(--neon-magenta) 100%);  

    animation: rgb 3s linear infinite;
}



/* PROD CONTAINER */
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 50px;
    padding: 20px 17px;
    margin-top: 50px;

    flex-wrap: wrap;
    margin-bottom: 10%;
}

/* PROD CARDS */
.products {
    position: relative;
    width: 260px;
    padding: 5px;
    border-radius: 12px;
}

.products::after {
    position: absolute;
    content: "";
    box-shadow: var(--shadow);
    border: 3px solid var(--neon-teal);
    background-color: var(--secondary-color);
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 3px solid var(--neon-teal);
    border-radius: 15px;
    box-shadow: var(--shadow);
    pointer-events: none;

    animation: rgb 5s linear infinite;
    z-index: -1;
}

.products img {
    width: 100%;
}

.products a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.item-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    color: #fff
}

.products h3 {
    color: var(--text-soft);
    font-size: 1.3rem;
    font-family: var(--main);
    margin-bottom: 30px;
}

/* HOVER EFFECTS */

.products:hover {
    transform: translateY(-5px);
}

.products:hover img {   
    transform: scale(1.05);
}



/* NAVIGATION */
.navigation {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    min-width: 300px;
    padding: 60px 0;
}

.navigation-links {
    background-color: var(--bg-glass);
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px 10px;
    gap: 20px;
}

.navigation-links a {
    position: relative;
    color: var(--text-soft);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--secondary);
    border-bottom: 1px solid var(--neon-teal);
    padding: 20px 0 ;
}

.navigation-links a::after {
    position: absolute;
    content: ">";
    right: 0;
}

/* ITEM CARDS */
.item-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  
    gap: 40px;
    padding: 60px 0; 
    margin-bottom: 10%;
}

.items {
    position: relative;

    width: 300px;
    padding: 12px 17px;
    background-color: var(--bg-glass);
    border-radius: 25px 0 0 0;
}


.items::after {
    position: absolute;
    content: "";
    box-shadow: var(--shadow);
    border-radius: 25px 0 0 0;
    border: 3px solid var(--neon-teal);
    background-color: var(--secondary-color);
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 3px solid var(--neon-teal);
    box-shadow: var(--shadow);
    pointer-events: none;

    animation: rgb 5s linear infinite;
    z-index: -1;
}


.items img {
    width: 100%;
    height: 200px;
}

.items a {
    height: 100%;
    width: 100%;
}

.item-name .name {
    position: relative;
    font-family: var(--main);
    font-weight: bold;
    font-size: 1.2rem;
}

.item-name .model {
    position: relative;
    font-family: var(--secondary);
    color: var(--text-soft);
    font-size: 0.9rem;
}

.item-text{
    font-family: var(--secondary);
    font-size: 0.9rem;
    color: var(--text-soft);
}

.price {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00ffff;
}

.sale {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.orig-price{
    text-decoration: line-through;
    color: var(--text-soft);
    padding-top: 15px;
    font-size: 0.9rem;
}

.view {
    color: #000;
    font-family: var(--secondary);
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 12px 0;
    text-align: center;
    background-color: var(--neon-cyan);
    border-radius: 5px;
    
    padding: 5px 2px;
    
    transition: all 0.3s ease;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer span {
    color: var(--text-soft);
    font-size: 1rem;
    font-weight: bold;
}

.footer i {
    color: var(--neon-magenta);
}

/* ACTIVE LINKS  */
#active-link {
    color: var(--neon-magenta);
    text-shadow: 0 0 10px var(--neon-magenta);
}

.price {  
    color: var(--text-soft);
}

/* ITEM HOVER */
.items a:hover img {
    transform: scale(1.1)
}

.item-container {
    display: flex;
    padding: 0 5%;
}

.item-name:hover .name ,
.item-name:hover .model {
    text-shadow: var(--glow-text);
    color: var(--neon-cyan);
}

.view:hover {
    box-shadow: var(--shadow);
    transform: translateY(-5px);
}
