.title {
    display: block;
    text-align: center;
    font-family: var(--main);
    font-size: 2rem;
    background: linear-gradient(-90deg,var(--neon-cyan), var(--neon-magenta));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: var(--glow-text);
    margin: 40px 0 10px;
    letter-spacing: 1px;

    animation: rgb 10s linear infinite;
}

/* PROD CONTAINER */
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 50px;
    padding: 20px 17px;

    flex-wrap: wrap;
}

/* PROD CARDS */
.products {
    box-shadow: var(--shadow);
    background-color: var(--secondary-color);
    width: 260px;
    height: 300px;
    padding: 5px;
    border-radius: 12px;
}

.products img {
    width: 100%;
}

.products h3 {
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.products a {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes rgb {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}