:root{
    --bg-main:#020617;
    --bg-secondary:#0B1120;
    --accent:#39FF14;
    --accent2:#00F5D4;
    --text:#E5E7EB;
    --text-muted:#9CA3AF;
    --glow: 0px 0px 20px 1px rgba(2,181,94,0.75);;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--bg-main);
    color: var(--text);
}