:root {
    /* THE DARK BASE (Surfaces) */
    --bg-main: #050505;           /* Main background */
    --bg-card: #07080f;           /* Card background (slightly lighter) */
    --bg-glass: rgba(7, 8, 15, 0.8); /* For the dropdown menu */

    /* THE RGB LIGHTS (Accents) */
    --neon-cyan: #00ffff;         /* Primary: Use for links & titles */
    --neon-magenta: #ff00ff;      /* Secondary: Use for special accents */
    --neon-teal: #4af1d1;         /* Accent: Use for borders/lines */
    
    /* THE GLOW EFFECTS */
    --glow-text: 0 0 10px var(--neon-cyan);
    --hover-effect: 0 0 25px rgba(74, 241, 209, 0.5); /* The "Power On" glow */
    --shadow: 0 0 15px var(--neon-teal);
    /* TYPOGRAPHY */
    --main: "Audiowide", sans-serif;
    --secondary: "JetBrains Mono", monospace;
    --text-soft: #e0e0e0e0;         /* For long descriptions */
}


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg-main);
    background-image: linear-gradient(90deg, transparent, rgba(5, 5, 5, 0.8)),
    url(../asset/darkness.png);
    background-repeat: no-repeat;
    background-size: cover;
}   